################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularStarter/src/AngularStarter/bin/Debug/netcoreapp1.0
